page-login {
    .logoIcon {
        margin-left: 25%;
        width: 50%;
    }
    b {
        color: #36807a;
    }
    p {
        font-size: large;
        color: #36807a;
    }
    .button {
        background-color: #36807a;
        color: #ffffff;
    }
}