.toolbar-title {
    color: #36807a;
}

.menuIcon2 {
    margin-left: 35%;
    width: 30%;
}

b {
    color: #36807a;
}

.icone {
    color: #36807a;
}

.menuIcon {
    color: #36807a;
}

.listaMenu {
    background: #DCEEEC;
    color: #36807a;
}

p {
    font-size: large;
    color: #36807a;
    padding-top: 5%;
}