page-sobre {
    .logoIcon {
        margin-left: 25%;
        width: 50%;
    }
    p {
        font-size: large;
        color: #36807a;
    }
    b {
        color: #36807a;
    }
    .cor {
        color: #36807a;
    }
    .iconSocial {
        width: 60%;
        margin-left: 20%;
    }
}